POSTGRES_DB=money_manager
POSTGRES_USER=money_manager
POSTGRES_PASSWORD=money_manager_dev
POSTGRES_PORT=5432
DATABASE_URL=postgresql://money_manager:money_manager_dev@localhost:5432/money_manager?schema=public
JWT_SECRET=ganti-dengan-secret-yang-panjang
API_PORT=4000
WEB_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000
